<a href="https://colab.research.google.com/github/poudyaldiksha/Data-Science-project/blob/main/Lesson_21_b2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 21: Time Series Data II

---

### Data Description



|Index|Columns|Description|
|-|-|-|
|0|Date|Date (DD/MM/YYYY)|
|1|Time|Time (HH.MM.SS)|
|2|CO(GT)|True hourly averaged concentration $\text{CO}$ in $\frac{mg}{m^3}$ (reference analyzer)|
|3|PT08.S1(CO)|PT08.S1 (tin oxide) hourly averaged sensor response (nominally $\text{CO}$ targeted)|
|4|NMHC(GT)|True hourly averaged overall Non-Methane Hydrocarbons concentration in $\frac{\mu g}{m^3}$|
|5|C6H6(GT)|True hourly averaged Benzene concentration in $\frac{\mu g}{m^3}$||
|6|PT08.S2(NMHC)|PT08.S2 (titania) hourly averaged sensor response (nominally $\text{NMHC}$ targeted)|
|7|NOx(GT)|True hourly averaged $\text{NO}_x$ concentration in Parts per billion (ppb)|
|8|PT08.S3(NOx)|PT08.S3 (tungsten oxide) hourly averaged sensor response (nominally $\text{NO}_x$ targeted)|
|9|NO2(GT) |True hourly averaged $\text{NO}_2$ concentration in $\frac{\mu g}{m^3}$|
|10|PT08.S4(NO2)|PT08.S4 (tungsten oxide) hourly averaged sensor response (nominally $\text{NO}_2$ targeted)|
|11|PT08.S5(O3) |PT08.S5 (indium oxide) hourly averaged sensor response (nominally $\text{O}_3$ targeted)|
|12|T|Temperature in Â°C|
|13|RH|Relative Humidity (%)|
|14|AH|AH Absolute Humidity|



**Source:** https://archive.ics.uci.edu/ml/datasets/Air+quality

---

In [ ]:

#Mounting the google drive
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

---

In [ ]:
# Last class activity


# Import the required modules and load the time-series dataset on air quality
import pandas as pd

air_df=pd.read_csv("/content/drive/MyDrive/datasets/AirQualityUCI.csv", sep=";")
air_df.head()

# Removing the 'Unnamed: 15' & 'Unnamed: 16' columns.
air_df = air_df.drop(columns=['Unnamed: 15', 'Unnamed: 16'], axis=1)

# Removing the null values.
air_df = air_df.dropna()

# Creating a Pandas series containing 'datetime' objects.
time = []
for i in air_df["Time"]:
    time.append(i.replace(".",":"))

time_s = pd.Series(time)
time_s

date_time = air_df["Date"] + " " + time_s

#Convert to datetime values
date_time = pd.to_datetime(date_time, format="%d/%m/%Y %H:%M:%S")

In [ ]:
date_time

0      2004-03-10 18:00:00
1      2004-03-10 19:00:00
2      2004-03-10 20:00:00
3      2004-03-10 21:00:00
4      2004-03-10 22:00:00
               ...
9352   2005-04-04 10:00:00
9353   2005-04-04 11:00:00
9354   2005-04-04 12:00:00
9355   2005-04-04 13:00:00
9356   2005-04-04 14:00:00
Length: 9357, dtype: datetime64[ns]

In [ ]:
air_df

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004,18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578"
1,10/03/2004,19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255"
2,10/03/2004,20.00.00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502"
3,10/03/2004,21.00.00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867"
4,10/03/2004,22.00.00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,04/04/2005,10.00.00,"3,1",1314.0,-200.0,"13,5",1101.0,472.0,539.0,190.0,1374.0,1729.0,"21,9","29,3","0,7568"
9353,04/04/2005,11.00.00,"2,4",1163.0,-200.0,"11,4",1027.0,353.0,604.0,179.0,1264.0,1269.0,"24,3","23,7","0,7119"
9354,04/04/2005,12.00.00,"2,4",1142.0,-200.0,"12,4",1063.0,293.0,603.0,175.0,1241.0,1092.0,"26,9","18,3","0,6406"
9355,04/04/2005,13.00.00,"2,1",1003.0,-200.0,"9,5",961.0,235.0,702.0,156.0,1041.0,770.0,"28,3","13,5","0,5139"
9356,04/04/2005,14.00.00,"2,2",1071.0,-200.0,"11,9",1047.0,265.0,654.0,168.0,1129.0,816.0,"28,5","13,1","0,5028"

---

### Activity 1: Continuing Air Quality Analysis

Let's remove the `Date` & `Time` columns from the DataFrame because we don't need them and insert the `data_time` in it because it contains the `datetime` objects.

Let's add the Pandas series to the DataFrame at `index = 0`. Also, let's label it as a `DateTime` column.

In [ ]:
# Remove the Date & Time columns from the DataFrame and insert new series
air_df.drop(columns=["Date","Time"],axis=1,inplace=True)

In [ ]:
air_df["Date_Time"] = date_time

In [ ]:
air_df.head()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Date_Time
0,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",2004-03-10 18:00:00
1,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",2004-03-10 19:00:00
2,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502",2004-03-10 20:00:00
3,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867",2004-03-10 21:00:00
4,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888",2004-03-10 22:00:00

In [ ]:
air_df.drop(columns=["Date_Time"],inplace=True)

In [ ]:
# Display the first five rows of the DataFrame after removing the 'Date' and 'Time' columns and adding the 'DateTime' column.

air_df.insert(0,"DateTime",date_time)

In [ ]:
# syntax:dataframe.insert(loc,columnname,values)

In [ ]:
air_df.head()

,DateTime,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10 18:00:00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578"
1,2004-03-10 19:00:00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255"
2,2004-03-10 20:00:00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502"
3,2004-03-10 21:00:00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867"
4,2004-03-10 22:00:00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888"

In [ ]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9357 entries, 0 to 9356
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime       9357 non-null   datetime64[ns]
 1   CO(GT)         9357 non-null   object
 2   PT08.S1(CO)    9357 non-null   float64
 3   NMHC(GT)       9357 non-null   float64
 4   C6H6(GT)       9357 non-null   object
 5   PT08.S2(NMHC)  9357 non-null   float64
 6   NOx(GT)        9357 non-null   float64
 7   PT08.S3(NOx)   9357 non-null   float64
 8   NO2(GT)        9357 non-null   float64
 9   PT08.S4(NO2)   9357 non-null   float64
 10  PT08.S5(O3)    9357 non-null   float64
 11  T              9357 non-null   object
 12  RH             9357 non-null   object
 13  AH             9357 non-null   object
dtypes: datetime64[ns](1), float64(8), object(5)
memory usage: 1.1+ MB

---

### Activity 2: Extract Year, Month, Day & Weekday Values

Let's add four more columns to the DataFrame. The should contain the year, month, day and day-name values for each observation on the air pollutants, temperature, relative humidity and absolute humidity.

For this you can apply the following attributes/functions:

- `series_name.dt.year` to get a Pandas series containing the year values as integers.

- `series_name.dt.month` to get a Pandas series containing the month values as integers.

- `series_name.dt.day` to get a Pandas series containing the day values as integers.

- `series_name.dt.day_name()` to get a Pandas series containing the days of a week, i.e., Monday, Tuesday, Wednesday etc.

In [ ]:
# Get the Pandas series containing the year values as integers.
year_series=date_time.dt.year
year_series

0       2004
1       2004
2       2004
3       2004
4       2004
        ...
9352    2005
9353    2005
9354    2005
9355    2005
9356    2005
Length: 9357, dtype: int32

In [ ]:
# Get the Pandas series containing the month values as integers.
month_series=date_time.dt.month
month_series

0       3
1       3
2       3
3       3
4       3
       ..
9352    4
9353    4
9354    4
9355    4
9356    4
Length: 9357, dtype: int32

In [ ]:
#Get the Pandas series containing the day values as integers.
day_series=date_time.dt.day
day_series

0       10
1       10
2       10
3       10
4       10
        ..
9352     4
9353     4
9354     4
9355     4
9356     4
Length: 9357, dtype: int32

In [ ]:
# Get the Pandas series containing the days of a week, i.e., Monday, Tuesday, Wednesday etc.
day_nameseries=date_time.dt.day_name()
print(day_nameseries)

0       Wednesday
1       Wednesday
2       Wednesday
3       Wednesday
4       Wednesday
          ...
9352       Monday
9353       Monday
9354       Monday
9355       Monday
9356       Monday
Length: 9357, dtype: object

We can add a column to a DataFrame by following the syntax given below.

**Syntax:** `df_name['column_name'] = pandas_series`

where `df_name` is the Pandas DataFrame in which the `pandas_series` to added as a column with the `column_name` as the desired name for the column.

**Note:** The indices of the items contained in the `pandas_series` must be the same as the indices of the `df_name` DataFrame.

In [ ]:
# Add the 'Year', 'Month', 'Day' and 'Day Name' columns to the DataFrame.
air_df['Year'] = year_series
air_df['Month'] = month_series
air_df['Day'] = day_series
air_df['day_name'] = day_nameseries

In [ ]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9357 entries, 0 to 9356
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime       9357 non-null   datetime64[ns]
 1   CO(GT)         9357 non-null   object
 2   PT08.S1(CO)    9357 non-null   float64
 3   NMHC(GT)       9357 non-null   float64
 4   C6H6(GT)       9357 non-null   object
 5   PT08.S2(NMHC)  9357 non-null   float64
 6   NOx(GT)        9357 non-null   float64
 7   PT08.S3(NOx)   9357 non-null   float64
 8   NO2(GT)        9357 non-null   float64
 9   PT08.S4(NO2)   9357 non-null   float64
 10  PT08.S5(O3)    9357 non-null   float64
 11  T              9357 non-null   object
 12  RH             9357 non-null   object
 13  AH             9357 non-null   object
 14  Year           9357 non-null   int32
 15  Month          9357 non-null   int32
 16  Day            9357 non-null   int32
 17  day_name       9357 non-null   object
dtypes: datetime64[ns](1), float64(8), int32(3), object(6)
memory usage: 1.2+ MB

In [ ]:
air_df.head()

,DateTime,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Year,Month,Day,day_name
0,2004-03-10 18:00:00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",2004,3,10,Wednesday
1,2004-03-10 19:00:00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",2004,3,10,Wednesday
2,2004-03-10 20:00:00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502",2004,3,10,Wednesday
3,2004-03-10 21:00:00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867",2004,3,10,Wednesday
4,2004-03-10 22:00:00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888",2004,3,10,Wednesday

Let's sort the DataFrame by the `DateTime` values in the ascending order by using the `sort_values()` function. Inside the function, you need to pass the `by = 'DateTime'` parameter to sort the DataFrame by the `DateTime` values.

**Note:** By default, the `sort_values` function sorts a DataFrame in the ascending order. To sort it in the descending order, pass `ascending=False` as the second parameter inside the `sort_values` function.

In [ ]:
#  Sort the DataFrame by the 'DateTime' values in the ascending order.
air_df = air_df.sort_values(by='DateTime')
air_df

,DateTime,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Year,Month,Day,day_name
0,2004-03-10 18:00:00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",2004,3,10,Wednesday
1,2004-03-10 19:00:00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",2004,3,10,Wednesday
2,2004-03-10 20:00:00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502",2004,3,10,Wednesday
3,2004-03-10 21:00:00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867",2004,3,10,Wednesday
4,2004-03-10 22:00:00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888",2004,3,10,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,2005-04-04 10:00:00,"3,1",1314.0,-200.0,"13,5",1101.0,472.0,539.0,190.0,1374.0,1729.0,"21,9","29,3","0,7568",2005,4,4,Monday
9353,2005-04-04 11:00:00,"2,4",1163.0,-200.0,"11,4",1027.0,353.0,604.0,179.0,1264.0,1269.0,"24,3","23,7","0,7119",2005,4,4,Monday
9354,2005-04-04 12:00:00,"2,4",1142.0,-200.0,"12,4",1063.0,293.0,603.0,175.0,1241.0,1092.0,"26,9","18,3","0,6406",2005,4,4,Monday
9355,2005-04-04 13:00:00,"2,1",1003.0,-200.0,"9,5",961.0,235.0,702.0,156.0,1041.0,770.0,"28,3","13,5","0,5139",2005,4,4,Monday
9356,2005-04-04 14:00:00,"2,2",1071.0,-200.0,"11,9",1047.0,265.0,654.0,168.0,1129.0,816.0,"28,5","13,1","0,5028",2005,4,4,Monday

In [ ]:
# Import the required modules and load the time-series dataset on air quality
import pandas as pd

air_df=pd.read_csv("/content/drive/MyDrive/datasets/AirQualityUCI.csv", sep=";")
air_df.head()

# Removing the 'Unnamed: 15' & 'Unnamed: 16' columns.
air_df = air_df.drop(columns=['Unnamed: 15', 'Unnamed: 16'], axis=1)

# Removing the null values.
air_df = air_df.dropna()

# Creating a Pandas series containing 'datetime' objects.
time = []
for i in air_df["Time"]:
    time.append(i.replace(".",":"))

time_s = pd.Series(time)
time_s

date_time = air_df["Date"] + " " + time_s

#Convert to datetime values
date_time = pd.to_datetime(date_time, format="%d/%m/%Y %H:%M:%S")


# Remove the Date & Time columns from the DataFrame and add the 'date_time' series in it.
air_df = air_df.drop(columns=['Date', 'Time'], axis=1)
air_df.insert(loc=0, column='DateTime', value=date_time)

# Get the Pandas series containing the year values as integers.
year_series = date_time.dt.year

# Get the Pandas series containing the month values as integers.
month_series = date_time.dt.month

# Get the Pandas series containing the day values as integers.
day_series = date_time.dt.day

# Get the Pandas series containing the days of a week, i.e., Monday, Tuesday, Wednesday etc.
day_name_series = date_time.dt.day_name()

# Add the 'Year', 'Month', 'Day' and 'Day Name' columns to the DataFrame.
air_df['Year'] = year_series
air_df['Month'] = month_series
air_df['Day'] = day_series
air_df['Day Name'] = day_name_series

# Sort the DataFrame by the 'DateTime' values in the ascending order.
air_df = air_df.sort_values(by='DateTime')

air_df.head()

,DateTime,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Year,Month,Day,Day Name
0,2004-03-10 18:00:00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",2004,3,10,Wednesday
1,2004-03-10 19:00:00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",2004,3,10,Wednesday
2,2004-03-10 20:00:00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502",2004,3,10,Wednesday
3,2004-03-10 21:00:00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867",2004,3,10,Wednesday
4,2004-03-10 22:00:00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888",2004,3,10,Wednesday

### Activity 3: Commas to Dot replacement

The  values in the `CO(GT), C6H6(GT), T,	RH` and	`AH` columns contain the commas in them. Let's replace the commas with periods (or dots).

In [ ]:
#replace the commas with periods in a Pandas series.
def replace_comma(b):
    list1 = []
    for i in b:
        list1.append(float(str(i).replace(",",".")))
    return pd.Series(list1)

In [ ]:
replace_comma(["hey,,,,","who,,,"])

0    hey....
1     who...
dtype: object

In [ ]:
replace_comma([1,5])

0    1.0
1    5.0
dtype: float64

In [ ]:
replace_comma(air_df['CO(GT)'])

0       2.6
1       2.0
2       2.2
3       2.2
4       1.6
       ...
9352    3.1
9353    2.4
9354    2.4
9355    2.1
9356    2.2
Length: 9357, dtype: float64

In [ ]:
#Apply the 'replace_comma()' function on the ''CO(GT)', 'C6H6(GT)', 'T', 'RH' and 'AH' columns.
list2 = ['CO(GT)', 'C6H6(GT)', 'T', 'RH', 'AH' ]
for i in list2:
    air_df[i] = replace_comma(air_df[i])

In [ ]:
air_df.head()

,DateTime,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Year,Month,Day,Day Name
0,2004-03-10 18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,2004,3,10,Wednesday
1,2004-03-10 19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,2004,3,10,Wednesday
2,2004-03-10 20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,2004,3,10,Wednesday
3,2004-03-10 21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,2004,3,10,Wednesday
4,2004-03-10 22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,2004,3,10,Wednesday

Let's also print the information on the `df` DataFrame. Except for the first column and the last column, all other columns must have the numeric (`float` or `int`) data-type values.

In [ ]:
# Print the information of the DataFrame.
air_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9357 entries, 0 to 9356
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DateTime       9357 non-null   datetime64[ns]
 1   CO(GT)         9357 non-null   float64
 2   PT08.S1(CO)    9357 non-null   float64
 3   NMHC(GT)       9357 non-null   float64
 4   C6H6(GT)       9357 non-null   float64
 5   PT08.S2(NMHC)  9357 non-null   float64
 6   NOx(GT)        9357 non-null   float64
 7   PT08.S3(NOx)   9357 non-null   float64
 8   NO2(GT)        9357 non-null   float64
 9   PT08.S4(NO2)   9357 non-null   float64
 10  PT08.S5(O3)    9357 non-null   float64
 11  T              9357 non-null   float64
 12  RH             9357 non-null   float64
 13  AH             9357 non-null   float64
 14  Year           9357 non-null   int32
 15  Month          9357 non-null   int32
 16  Day            9357 non-null   int32
 17  Day Name       9357 non-null   object
dtypes: datetime64[ns](1), float64(13), int32(3), object(1)
memory usage: 1.2+ MB

---

### Acitivity 2: Descriptive Statistics

In [ ]:
#  Get the descriptive statistics for all the numeric data-type columns.
air_df.describe()

,DateTime,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Year,Month,Day
count,9357,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000
mean,2004-09-21 16:00:00,-34.207524,1048.990061,-159.090093,1.865683,894.595276,168.616971,794.990168,58.148873,1391.479641,975.072032,9.778305,39.485380,-6.837604,2004.240141,6.310356,15.876884
min,2004-03-10 18:00:00,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,2004.000000,1.000000,1.000000
25%,2004-06-16 05:00:00,0.600000,921.000000,-200.000000,4.000000,711.000000,50.000000,637.000000,53.000000,1185.000000,700.000000,10.900000,34.100000,0.692300,2004.000000,3.000000,8.000000
50%,2004-09-21 16:00:00,1.500000,1053.000000,-200.000000,7.900000,895.000000,141.000000,794.000000,96.000000,1446.000000,942.000000,17.200000,48.600000,0.976800,2004.000000,6.000000,16.000000
75%,2004-12-28 03:00:00,2.600000,1221.000000,-200.000000,13.600000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000,24.100000,61.900000,1.296200,2004.000000,9.000000,23.000000
max,2005-04-04 14:00:00,11.900000,2040.000000,1189.000000,63.700000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,44.600000,88.700000,2.231000,2005.000000,12.000000,31.000000
std,NaN,77.657170,329.832710,139.789093,41.380206,342.333252,257.433866,321.993552,126.940455,467.210125,456.938184,43.203623,51.216145,38.976670,0.427192,3.438160,8.808653



Now, let's remove all the columns from the  DataFrame containing more than 10% garbage value.

In [ ]:
a = pd.Series([1,2,3,4,5])
a.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [ ]:
a = pd.Series([1,2,3,4,5,-200,-200,-200])
a.describe()

count      8.00000
mean     -73.12500
std      105.06928
min     -200.00000
25%     -200.00000
50%        1.50000
75%        3.25000
max        5.00000
dtype: float64

In [ ]:
list(air_df["CO(GT)"]).count(-200)

1683

In [ ]:
air_df.columns

Index(['DateTime', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)',
       'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)',
       'PT08.S5(O3)', 'T', 'RH', 'AH', 'Year', 'Month', 'Day', 'Day Name'],
      dtype='object')

In [ ]:
for i in air_df.columns:
    print(list(air_df[i]).count(-200),i)

0 DateTime
1683 CO(GT)
366 PT08.S1(CO)
8443 NMHC(GT)
366 C6H6(GT)
366 PT08.S2(NMHC)
1639 NOx(GT)
366 PT08.S3(NOx)
1642 NO2(GT)
366 PT08.S4(NO2)
366 PT08.S5(O3)
366 T
366 RH
366 AH
0 Year
0 Month
0 Day
0 Day Name

In [ ]:
for i in air_df.columns:
    print((list(air_df[i]).count(-200)/9357)*100,i)

0.0 DateTime
17.986534145559474 CO(GT)
3.9115100993908305 PT08.S1(CO)
90.23191193758683 NMHC(GT)
3.9115100993908305 C6H6(GT)
3.9115100993908305 PT08.S2(NMHC)
17.51629795874746 NOx(GT)
3.9115100993908305 PT08.S3(NOx)
17.54835951693919 NO2(GT)
3.9115100993908305 PT08.S4(NO2)
3.9115100993908305 PT08.S5(O3)
3.9115100993908305 T
3.9115100993908305 RH
3.9115100993908305 AH
0.0 Year
0.0 Month
0.0 Day
0.0 Day Name

**Key Points:**

- **Garbage Values:** Data points in a DataFrame column that are invalid, meaningless, or misleading.

- **Identification:** Look for outliers, unexpected categories, or unusual text patterns.



Handling Strategies:

- **Removal:** Common for columns with high garbage value percentage (e.g., > 10%). Consider impact on analysis before removing.

- **Imputation:** Replace missing values with estimated values (mean, median, KNN).

- **Encoding:**Convert missing values into a separate category.

- **10% Rule:** A general guideline to consider removing columns with more than 10% garbage values.

**Choosing the Right Approach:**
1. Consider impact on analysis, importance of the column, and domain knowledge.
2. Explore different strategies (removal, imputation, encoding) and their effects.
3. Document your data cleaning process.


**Remember:** The 10% rule is a starting point, not a strict rule. Use it in conjunction with other factors to make informed decisions about handling garbage values in data science.

In [ ]:
air_df[air_df["RH"] == -200]

,DateTime,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Year,Month,Day,Day Name
524,2004-04-01 14:00:00,1.7,-200.0,222.0,-200.0,-200.0,99.0,-200.0,72.0,-200.0,-200.0,-200.0,-200.0,-200.0,2004,4,1,Thursday
525,2004-04-01 15:00:00,1.9,-200.0,197.0,-200.0,-200.0,108.0,-200.0,81.0,-200.0,-200.0,-200.0,-200.0,-200.0,2004,4,1,Thursday
526,2004-04-01 16:00:00,2.3,-200.0,319.0,-200.0,-200.0,131.0,-200.0,93.0,-200.0,-200.0,-200.0,-200.0,-200.0,2004,4,1,Thursday
701,2004-04-08 23:00:00,2.0,-200.0,137.0,-200.0,-200.0,129.0,-200.0,106.0,-200.0,-200.0,-200.0,-200.0,-200.0,2004,4,8,Thursday
702,2004-04-09 00:00:00,2.4,-200.0,189.0,-200.0,-200.0,154.0,-200.0,109.0,-200.0,-200.0,-200.0,-200.0,-200.0,2004,4,9,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8111,2005-02-11 17:00:00,6.6,-200.0,-200.0,-200.0,-200.0,1227.0,-200.0,326.0,-200.0,-200.0,-200.0,-200.0,-200.0,2005,2,11,Friday
8112,2005-02-11 18:00:00,6.5,-200.0,-200.0,-200.0,-200.0,1061.0,-200.0,284.0,-200.0,-200.0,-200.0,-200.0,-200.0,2005,2,11,Friday
8113,2005-02-11 19:00:00,7.1,-200.0,-200.0,-200.0,-200.0,1075.0,-200.0,289.0,-200.0,-200.0,-200.0,-200.0,-200.0,2005,2,11,Friday
8114,2005-02-11 20:00:00,4.9,-200.0,-200.0,-200.0,-200.0,641.0,-200.0,215.0,-200.0,-200.0,-200.0,-200.0,-200.0,2005,2,11,Friday
8777,2005-03-11 11:00:00,3.0,-200.0,-200.0,-200.0,-200.0,812.0,-200.0,235.0,-200.0,-200.0,-200.0,-200.0,-200.0,2005,3,11,Friday

In [ ]:
# Remove all the columns from the DataFrame containing more than 10% garbage value.
a = air_df[air_df["RH"] == -200]
a["RH"].size

366

In [ ]:
b = air_df[air_df["CO(GT)"] == -200]
b["CO(GT)"].size

1683

In [ ]:
air_df["RH"] == -200

In [ ]:
air_df[air_df["RH"] == -200].shape[0]

In [ ]:
air_df.columns[1:-4]

In [ ]:
air_df.columns[1:14]

In [ ]:
a = ['CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)', 'PT08.S2(NMHC)',
       'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)', 'PT08.S5(O3)',
       'T', 'RH', 'AH']
for i in a:
    print(i, air_df[air_df[i] == -200].shape[0])

In [ ]:
air_df.columns[1:14]

Index(['CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)', 'PT08.S2(NMHC)',
       'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)', 'PT08.S5(O3)',
       'T', 'RH', 'AH'],
      dtype='object')

In [ ]:
# number of garbage values in all columns
for i in air_df.columns[1:-4]:
    print(i,air_df[air_df[i] == -200].shape[0] )

CO(GT) 1683
PT08.S1(CO) 366
NMHC(GT) 8443
C6H6(GT) 366
PT08.S2(NMHC) 366
NOx(GT) 1639
PT08.S3(NOx) 366
NO2(GT) 1642
PT08.S4(NO2) 366
PT08.S5(O3) 366
T 366
RH 366
AH 366

In [ ]:
air_df.shape[0]

In [ ]:
round(100.99090909,3)

100.991

In [ ]:
# percentage of garbage values
for i in air_df.columns[1:-4]:
    print(i,round((air_df[air_df[i] == -200].shape[0]/ air_df.shape[0]) * 100,2))

CO(GT) 17.99
PT08.S1(CO) 3.91
NMHC(GT) 90.23
C6H6(GT) 3.91
PT08.S2(NMHC) 3.91
NOx(GT) 17.52
PT08.S3(NOx) 3.91
NO2(GT) 17.55
PT08.S4(NO2) 3.91
PT08.S5(O3) 3.91
T 3.91
RH 3.91
AH 3.91

In [ ]:
#remove above 10% garbage values  columns
garbage = ["CO(GT)","NMHC(GT)","NOx(GT)","NO2(GT)"]
air_df.drop(garbage, axis =1 ,inplace= True)

In [ ]:
air_df.head()

,DateTime,PT08.S1(CO),C6H6(GT),PT08.S2(NMHC),PT08.S3(NOx),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Year,Month,Day,Day Name
0,2004-03-10 18:00:00,1360.0,11.9,1046.0,1056.0,1692.0,1268.0,13.6,48.9,0.7578,2004,3,10,Wednesday
1,2004-03-10 19:00:00,1292.0,9.4,955.0,1174.0,1559.0,972.0,13.3,47.7,0.7255,2004,3,10,Wednesday
2,2004-03-10 20:00:00,1402.0,9.0,939.0,1140.0,1555.0,1074.0,11.9,54.0,0.7502,2004,3,10,Wednesday
3,2004-03-10 21:00:00,1376.0,9.2,948.0,1092.0,1584.0,1203.0,11.0,60.0,0.7867,2004,3,10,Wednesday
4,2004-03-10 22:00:00,1272.0,6.5,836.0,1205.0,1490.0,1110.0,11.2,59.6,0.7888,2004,3,10,Wednesday

### Activity 3: The `loc[]` Function

Now, let's replace the garbage values with the median of  values. For this, we need to use the `loc[]` function from Pandas library. It is an extension to the `iloc[]` function. The `iloc[]` function takes only the row and column indices as inputs. But in addition to the row and column indices, the `loc[]` function also accepts the array of row indices and column indices as inputs. It also accepts the specific column names as inputs.

In [ ]:
#Count the number of rows containing '2004' and '2005' year values.
air_df['Year'].value_counts()

In [ ]:
# Create a new DataFrame containing records for the year 2004.
air_df_2004 = air_df.loc[air_df['Year'] == 2004, air_df.columns]
air_df_2004.head()

In [ ]:
# Calculate the median values for the columns having indices between 1 and -4 (excluding -4) for the year 2004.
air_df.loc[air_df["Year"] == 2004, air_df.columns[1:-4]].median()

In [ ]:
air_df.iloc[[2,3,4],[1,2]]

In [ ]:
# Calculate the median values for the columns  for the year 2005.
air_df.loc[air_df['Year'] == 2005, air_df.columns[1:-4]].median()

In [ ]:
# Replace the -200 value with the median values for the 2004 year DataFrame.
for i in air_df_2004.columns[1:-4]:
 median = air_df_2004[i].median()
 air_df_2004[i] = air_df_2004[i].replace(to_replace= -200, value= median)

In [ ]:
# Create a new DataFrame containing records for the year 2004.
air_df_2005= air_df.loc[air_df['Year'] == 2005, air_df.columns]
air_df_2005.head()

In [ ]:
# Repeat the same for the 2005 year DataFrame.
for i in air_df_2005.columns[1:-4]:
 median = air_df_2005[i].median()
 air_df_2005[i] = air_df_2005[i].replace(to_replace= -200, value= median)

In [ ]:
# Compute the number of rows containing '-200' in each column in the 2004 year DataFrame.


for i in air_df_2004.columns[1:-4]:
 print(i, air_df_2004[air_df_2004[i] == -200].shape[0])

In [ ]:
#calculate the percentage of rows containing '-200' in each column in the 2005 year DataFrame.
for i in  air_df_2005.columns[1:-4]:
 print(i, air_df_2005[air_df_2005[i] == -200].shape[0] * 100 / air_df.shape[0])